img.tom-img {
    width: 20px !important;
    height: 20px !important;
}

.tom-true {
    background-color: #6aba43;
    color: white;
	padding: 5px;
}

.tom-true-marker {
	color: #6aba43;	
}


.tom-false {
    background-color: #e84f2b;
    color: white;
	padding: 5px;
}

.tom-false-marker {
	color: #e84f2b;
}


.tom-lie {
    background-color: #febc1e;
    color: white;
	padding: 5px;
}

.tom-lie-marker {
	color: #febc1e;
}


.tom-unverifiable {
    background-color: #229ee5;
    color: white;
	padding: 5px;
}

.tom-unverifiable-marker {
	color: #229ee5;
}

